<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Semana3_Actividad1_RigobertoVegaEscudero_A01793132_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####**Datos generales**

###**Semana 3 - Actividad 1**

Rigoberto Vega Escudero

A01793132

Materia: Ciencia De Datos

Profesor:Jobish Vallikavungal

02/Octubre/2022

# **Parte 1: Fundamentos de bases de datos**
##1. Fundamentos de bases de datos y para ciencia de datos.  

La ciencia de datos es uno de los campos que más rápido están creciendo. Debido a que día a día la dependencia de los datos se va haciendo cada vez más grande, por ello se requiere de personas capacitadas para el conocimiento de los datos, obtenerlos, limpiarlos, analizarlos, visualizarlos y usarlos para construir soluciones.

Por ende, un científico de datos necesitara crear las bases de datos necesarias para dar soluciones en base a metodologías de científicos de datos requeridos en los proyectos específicos.

Por ello, y viendo que los datos nos envuelven día a día más, colectar y analizar los datos nos dicta el uso y comprensión de estas herramientas, para hacer estructuras sencillas, pero, a su vez eficientes, seguras y rápidas.

Una base datos está definida como una estructura de conjuntos de datos almacenados en una memoria de la computadora o en la nube que puede ser acusada de varias maneras. Esta información debe tener una lógica entre los datos almacenados, integrando registros autodescriptivos, para con ello modelo dar sistemas particulares de un mundo real.

Estos datos provienen de fuentes de información variadas y estas pueden ser almacenadas de distintas formas y estas caen en una vista que muestra esta información en una combinación de registros y campos, definidas como tablas. Otra forma de verlo es como una colección de datos relacionados a las tablas donde dichas tablas tienen relaciones entre los datos que van obteniendo, esto definiendo la estructura central de las bases de datos.

La recopilación de los datos debe ser compartida dando lógica entre las relaciones de los mismos, para con ello satisfacer necesidades organizacionales. Estos datos pueden tener entidades, atributos y relaciones de la información de una organización.

El enfoque de las bases de datos es básicamente, tener repositorios centrales, datos gestionados por un agente y almacén de forma estadística y conveniente al usuario.

Para ello se usan sistemas DBMS - Database Management Systems. Esto se define como un software que se utiliza para crear, mantener y proporcionar acceso controlado a los usuarios de una base de datos. Este programa interactúa con la base de datos mediante una solicitud ad hoc al DBMS.

Los dos lenguajes más conocidos:
1. DML, también conocido como lenguaje de consulta (Query)
2. SQL (Structured Query Language), siendo este el más utilizado.

Con SQL viene una herramienta poderosa para manipular los datos. Ya que es fácil de usar, poderosa y eficiente.

Gracias a este lenguaje las bases de datos se han dividido en dos tipos:

1. Bases de datos relacionables: estas son las que los datos están organizados y almacenados dentro de tablas que pueden ser conectadas a otras con alguna clase de relación.
2. Bases de datos no relacionables: Estas bases de datos también son llamadas NoSQL. Debido a que estas consiguen conectarse por medio de categorías más que relaciones entre las mismas.



###2.Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.
Un almacén de datos es básicamente una base de datos gigante que contiene información de diferentes fuentes y las empata juntas para su uso. Estas comúnmente están diseñadas en una relación normalizada de una base de datos, ya que estas tienden a contener datos históricos de accesos de datos del pasado con los actuales, tablas actualizadas y versiones pasadas que muchas veces son actualizadas en tiempo real, etc.

Un almacenamiento de datos es un repositorio central de información que se puede analizar para tomar decisiones mejor informadas. Los datos fluyen hacia un almacenamiento de datos desde sistemas transaccionales, bases de datos relacionales y otros orígenes, normalmente a una cadencia regular. 

Dentro de ello logra centralizar y consolidar toda esta Big Data. Dotando al usuario una manera de ejecutar queries y análisis de manera que tenga este contenedor central que lo ayude y por ende extraer información valiosa de los mismos.

La arquitectura de las bases de datos se basa en:

1. Simple: Todos los almacenes de datos comparten un diseño simple en donde la metadata, el resumen de los datos y el bruto de la data están almacenados dentro del repositorio central del almacén.
2. Simple con escenificación del área: Los datos operacionales deben ser limpiados y procesados antes de ser puestos en el almacén. Aunque esto puede ser ejecutado por algún programa, muchos almacenes de dados añaden un área de puesta de escena para los datos, antes que estos entren al almacén.
3. Centro y habla: Añadir mercados de datos entre los repositorios centrales y los usuarios finales permiten a la organización personalizar sus almacenes de datos para servir a las diferentes líneas del negocio.
4. Cajas de arena: Las cajas de arena son privadas y seguras. Estas áreas seguras permiten a las compañías explorar e informar rápidamente acerca de nuevos conjuntos de datos o maneras de analizar información sin tener que conformarse a solo compilarla dentro de las reglas y protocolos tradicionales de los almacenes de datos.

Dentro de los beneficios de un almacenamiento de datos se incluyen los siguientes:

- Toma de decisiones fundamentadas
- Datos consolidados provenientes de muchos orígenes
- Análisis de datos históricos
- Calidad, coherencia y precisión de los datos
- Separación del procesamiento de análisis de las bases de datos transaccionales, lo que mejora el rendimiento de ambos sistemas



Bibliografía
1. WS, Amazon. (02 de 10 de 2022). ¿Qué es un almacenamiento de datos? Obtenido de https://aws.amazon.com/es/data-warehouse/
2. Kane, F. (2017). Hands-On Data Science and Python Machine Learning. Birmingham, UK: Packt Publishing.
3. Metwalli, S. A. (27 de 09 de 2020). Databases 101: Introduction to Databases for Data Scientists. Obtenido de https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d
4. ORACLE. (02 de 10 de 2022). What Is a Data Warehouse? Obtenido de https://www.oracle.com/database/what-is-a-data-warehouse/
5. Teate, R. M. (2021). SQL for Data Scientists. Canada: WILEY.

#**Parte 2: Selección y limpieza de los Datos en Python**

In [ ]:
#Cargar librerias
import pandas as pd
import numpy as np

In [ ]:
#Lectura del database cargado
df = pd.read_csv('/content/default of credit card clients.csv', index_col=0)
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
#Revisamos valores Null en las columnas para ver como limpiarlos
df.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

True